
#about h1{
    font-size: 3rem; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    text-align: center;
    margin: 1rem 0;
}
#about p{font-size: 1.7rem; text-align: center; text-align: justify;}

.paragraphs{padding: 0 1.5rem;}
.first-paragraph,
.second-paragraph{padding-bottom: 1.5rem; border-bottom: 1px solid rgba(255,255,255,.4);}
.first-paragraph{padding-bottom: 1.5rem; border-top: 1px solid rgba(255,255,255,.4)}

.more-about{text-align: center; font-size: 1.6rem; padding: 1rem;}
.more-about span a{color: #21d2df;};
