#about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    /* align-items: center; */
}
#about h1{
    font-size: 3rem; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    text-align: center;
    margin: 1rem 0;
}
#about p{font-size: 1.7rem; text-align: center; text-align: justify;}

.first-paragraph,
.second-paragraph{padding: 0 1rem;}
.first-paragraph{margin-bottom: 3rem;}

