.projects{
    height: 100vh;
    padding: 1rem;
}
.project{
    text-align: center;
    background-color: #333;
    margin: 2rem;
    padding: 1rem 0;
}
.project h2{font-size: 2rem; margin-bottom: 1.5rem;}
.project p{font-size: 1.3rem; margin-bottom: 1.5rem;}
.project span{font-size: 1.1rem;}
.project a{color: #bbb;}
p{text-align: center;}