*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #fff;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

/* .get-back{padding: 1.5rem 1rem; position: absolute; top: 1rem; left: 1rem;}
.get-back a{font-size: 2rem;} */




/* .container{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: grid;
  color: #fff;
  grid-template-columns: 15% auto;
  grid-template-rows: auto 75%;
  grid-template-areas:
      "sidebar main"
      "sidebar main"
      "sidebar footer";
} */